Tier1And2BalanceEnforcement/Tier1And2BalanceEnforcement/Service References/FbnAlert/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.microsoft.com/ws/2005/02/mex/bindings" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://schemas.microsoft.com/ws/2005/02/mex/bindings" location="http://10.2.100.74/FbnAlertWS/Service.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.2.100.74/FbnAlertWS/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.2.100.74/FbnAlertWS/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.2.100.74/FbnAlertWS/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SMSAppws" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IService_SendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SendSMSAcc_InputMessage">
    <wsdl:part name="parameters" element="tns:SendSMSAcc" />
  </wsdl:message>
  <wsdl:message name="IService_SendSMSAcc_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendSMSAccResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SendMessageGH_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageGH" />
  </wsdl:message>
  <wsdl:message name="IService_SendMessageGH_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageGHResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SendMessage" message="tns:IService_SendMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SendMessageResponse" message="tns:IService_SendMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendSMSAcc">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SendSMSAcc" message="tns:IService_SendSMSAcc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SendSMSAccResponse" message="tns:IService_SendSMSAcc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageGH">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SendMessageGH" message="tns:IService_SendMessageGH_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SendMessageGHResponse" message="tns:IService_SendMessageGH_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Service">
    <wsdl:port name="MetadataBinding" binding="i0:MetadataBinding">
      <soap12:address location="https://ho-bespoke06.nigeria.firstbank.local/FbnAlertWS/Service.svc/mex" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://ho-bespoke06.nigeria.firstbank.local/FbnAlertWS/Service.svc/mex</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>