Tier1And2BalanceEnforcement/ConsoleApplication1/Service References/FbnAlertWS/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.16.249.199/FbnAlertWS/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SMSAppws" />
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SMSAppws" minOccurs="0" name="message" nillable="true" type="q1:SMSMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SMSAppws" minOccurs="0" name="SendMessageResult" nillable="true" type="q2:Output" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSMSAcc">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SMSAppws" minOccurs="0" name="message" nillable="true" type="q3:SMSMessage2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSMSAccResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SMSAppws" minOccurs="0" name="SendSMSAccResult" nillable="true" type="q4:Output" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageGH">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SMSAppws" minOccurs="0" name="message" nillable="true" type="q5:SMSMessage" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SMSAppws" minOccurs="0" name="profile" nillable="true" type="q6:GHSMSProfile" />
        <xs:element minOccurs="0" name="tranid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageGHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SMSAppws" minOccurs="0" name="SendMessageGHResult" nillable="true" type="q7:Output" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>